<div class="goal-name">
  <div class="health d-flex align-center justify-space-between m-b-10">
    <div class="d-flex align-center w-80">
      <ng-container *ngIf="categories.includes(goal.goalCategoryName) else elseTemplate">
        <div [className]="'color ' + goal.goalCategoryColor">
          <ion-icon [src]="'/assets/icons/category/' + goal.goalCategoryName + '.svg'"></ion-icon>
        </div>
      </ng-container>
      <ng-template #elseTemplate>
        <div [className]="'color ' + goal.goalCategoryColor">
          <ion-icon [src]="'/assets/icons/category/your.svg'"></ion-icon>
        </div>
      </ng-template>
      <div class="health-text m-l-10">
        <span> {{ goal.goalName }} </span>
      </div>
    </div>
  </div>
  <div class="text-icon d-flex align-start flex-d-col m-b-10">
    <div class="d-flex align-center m-b-10">
      <div class="icon-wrapper">
        <ion-icon src="/assets/icons/general/round-graph.svg"></ion-icon>
      </div>
      <div class="title m-lr-10">
        <span translate>component.goal_view_progress.task</span>
      </div>
    </div>
    <div class="subtitle">
      <span> {{ goal.goalValue }} </span>
    </div>
  </div>
  <div class="text-icon d-flex align-start flex-d-col m-b-10">
    <div class="d-flex align-center m-b-10">
      <div class="icon-wrapper">
        <ion-icon src="/assets/icons/general/cup-star.svg"></ion-icon>
      </div>
      <div class="title m-lr-10">
        <span translate>component.goal_view_progress.fulfill</span>
      </div>
    </div>
    
    <div class="subtitle">
      <span> {{ goal.goalCompleted }} </span>
    </div>
  </div>
  <div class="text-icon d-flex align-start flex-d-col m-b-10">
    <div class="d-flex align-center m-b-10">
      <div class="icon-wrapper">
        <ion-icon src="/assets/icons/general/close-square.svg"></ion-icon>
      </div>
      <div class="title m-lr-10">
        <span translate>component.goal_view_progress.don't_do</span>
      </div>
    </div>
    
    <div class="subtitle">

      <span> {{ goal.goalNotCompleted }} </span>
    </div>
  </div>
  <div class="progress d-flex justify-space-between">
    <div class="progress-wrapper d-flex w-100 flex-d-col justify-space-arround">
      <div class="d-flex w-100 justify-space-between wrap-text">
        <div class="text">
          <span translate>component.goal_view_progress.progress</span>
        </div>
        <div class="number">
          <span> {{ goalProgress }} %</span>
        </div>
      </div>
      <div class="strip m-b-240">
        <div class="strip-progress" [style.width]="goalProgress + '%'"></div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <div class="button-calendar m-b-20">
      <ion-button class="capitalize-button" translate (click)="navigate()" vibrate>
        <ion-icon class="m-r-10" src="/assets/icons/general/calendar-add.svg"></ion-icon>
        component.goal_view_progress.calendar
      </ion-button>
    </div>
    <div class="button-complete">
      <ion-button class="capitalize-button" (click)="getData()" vibrate>
        <div class="complete-checkbox m-r-10">
          <ion-checkbox mode="ios" [checked]="goal.completed"></ion-checkbox>
        </div>
        {{ 'component.goal_view_progress.goal_' + (goal.completed === true ? 'share' : 'completed') | translate }}
      </ion-button>
    </div>
  </div>
</div>