ion-item {
  border-radius: 8px;
  border: none;
  width: 100%;
  min-height: 90px;
  height: auto;
  .goals-for-today {
    width: 100%;
    .health {
      background: var(--dark-ocean);
      width: 100%;
      min-height: 90px;
      height: auto;
      border-radius: 8px;
      ion-icon {
        width: 100%;
        height: 100%;
      }
      .color {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-icon {
          width: 23px;
          height: 23px;
          font-size: 27px;
        }
        &.purple {
          background: var(--purple);
        }
        &.blue {
          background: var(--blue);
        }
        &.orange {
          background: var(--orange);
        }
        &.red {
          background: var(--red);
        }
        &.primary {
          background: var(--primary);
        }
        &.ocean {
          background: var(--ocean);
        }
        &.yellow {
          background: var(--yellow);
        }
        &.pink {
          background: var(--pink);
        }
        &.violet {
          background: var(--violet);
        }
        &.green {
          background: var(--green);
        }
      }
      .health-bubble {
        width: 48px;
        height: 48px;
      }
      .health-text {
        width: 70%;
        span {
          color: var(--white);
          font-family: Urbanist;
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
        }
      }
      .health-arrow {
        height: 36px;
        width: 36px;
        ion-checkbox {
          --border-color: var(--white);
          width: 100%;
          height: 100%;
          --background: none;
          margin: 0;
        }
      }
    }
  }
}


@media (max-width: 576px) {
  ion-item{
    .goals-for-today {
      .health {
        .health-bubble {
          width: 44px;
          height: 44px;
        }
        .health-text {
          width: 60%;
          span {
            font-size: 18px;
          }
        }
        .health-arrow {
          height: 34px;
          width: 34px;
          ion-checkbox {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

}

@media (max-width: 425px) {
  ion-item {
    .goals-for-today {
      .health {
        .health-text {
          width: 55%;
          span {
            font-size: 16px;
          }
        }
        .health-arrow {
          height: 32px;
          width: 32px;
          ion-checkbox {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
