ion-header {
  ion-toolbar {
    &.header {
      --background: var(--dark);
      padding-top: 21px;
    }
  }
}

ion-content {
  --background: var(--dark);
  .container {
    .input-wrapper {
      .text {
        span {
          color: var(--white);
          font-family: Urbanist;
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0px;
        }
      }
    }
    .content {
      padding-top: 5px;
      padding-left: 18px;
      padding-right: 18px;
      .input-wrapper {
        .text {
          margin-bottom: 6px;
          span {
            color: var(--white);
            font-family: Urbanist;
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0px;
          }
        }
        ion-item {
          padding: 20px;
          border-radius: 20px;
        }
      }
      .color-name {
        margin-bottom: 16px;
        span {
          color: var(--white);
          font-family: Urbanist;
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0px;
        }
      }
      .color-wrapper {
        .color-first {
          margin-bottom: 17px;
          .color {
            margin-right: 16px;
            width: 40px;
            height: 40px;
            --border-radius: 100%;
            --padding-start: 0;
            --padding-end: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            &.purple {
              --background: var(--purple);
              margin-bottom: 24px;
            }
            &.blue {
              --background: var(--blue);
            }
            &.orange {
              --background: var(--orange);
            }
            &.red {
              --background: var(--red);
            }
            &.primary {
              --background: var(--primary);
            }
            &.ocean {
              --background: var(--ocean);
            }
            &.yellow {
              --background: var(--yellow);
            }
            &.pink {
              --background: var(--pink);
            }
            &.violet {
              --background: var(--violet);
            }
            &.green {
              --background: var(--green);
            }
          }
        }
      }
      .button {
        ion-button {
          width: 100%;
          height: 56px;
          --background: var(--primary);
          --border-radius: 12px;
          color: var(--white);
          font-family: Urbanist;
          font-size: 20px;
          font-weight: 700;
          line-height: 19px;
          letter-spacing: 0px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  ion-content {
    .container {
      .input-wrapper {
        .text {
          span {
            font-size: 16px;
          }
        }
      }
      .content {
        .input-wrapper {
          .text {
            span {
              font-size: 16px;
            }
          }
        }
        .color-name {
          span {
            font-size: 16px;
          }
        }
        .color-wrapper {
          .color-first {
            .color {
              width: 40px;
              height: 40px;
              font-size: 22px;

              &.primary {
                --background: var(--primary);
                margin-right: 16px;
              }

              

              &.green {
                --background: var(--green);
                margin-right: 0px;
              }
            }
          }
        }
        .button {
          ion-button {
            width: 100%;
            height: 56px;
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  ion-content {
    .container {
      .input-wrapper {
        .text {
          span {
            font-size: 14px;
          }
        }
      }
      .content {
        .input-wrapper {
          .text {
            span {
              font-size: 14px;
            }
          }
        }
        .color-name {
          span {
            font-size: 14px;
          }
        }
        .color-wrapper {
          .color-first {
            .color {
              width: 40px;
              height: 40px;
              font-size: 20px;

              &.primary {
                --background: var(--primary);
                margin-right: 16px;
              }

              &.green {
                --background: var(--green);
                margin-right: 0px;
              }
            }
          }
        }
        .button {
          ion-button {
            width: 100%;
            height: 56px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
