
<ion-segment class="p-6 d-flex justify-space-between" mode="ios" [scrollable]="true">
  <ion-segment-button value="main" routerLink="/main" routerLinkActive="segment-button-checked">
    <ion-icon src="/assets/icons/general/journal.svg" routerLinkActive="active"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="calendar" routerLink="/calendar-today" routerLinkActive="segment-button-checked">
    <ion-icon src="/assets/icons/general/calendar.svg" routerLinkActive="active"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="settings-profile" routerLink="/settings-profile" routerLinkActive="segment-button-checked">
    <ion-icon src="/assets/icons/general/user-mobile-menu.svg" routerLinkActive="active"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="settings" routerLink="/settings" routerLinkActive="segment-button-checked">
    <ion-icon src="/assets/icons/general/settings-mobile-menu.svg" routerLinkActive="active"></ion-icon>
  </ion-segment-button>
</ion-segment>
