<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644383298427-6u0mjajp23bk2uu779h3iom31h4ksmru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644383298427-6u0mjajp23bk2uu779h3iom31h4ksmru</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bebest.petrishin.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACU4OU3CJ7myJP0eAQFURqWDi-85wD3FI</string>
	<key>GCM_SENDER_ID</key>
	<string>644383298427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bebest.petrishin.com</string>
	<key>PROJECT_ID</key>
	<string>bebest-c957a</string>
	<key>STORAGE_BUCKET</key>
	<string>bebest-c957a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644383298427:ios:35e3977fc1f52e0f36e3de</string>
</dict>
</plist>
